@model IEnumerable<TodoLIst.Models.TodoEntry>  
@{  
  ViewData["Title"] = "Index";  
}  
<h2>Todo List</h2>  

<p>  
  <a asp-controller="Home" asp-action="Create">Create new entry</a>  
</p>  

<table class="table">  
  <thead>  
    <tr>  
      <th>  
        @Html.DisplayNameFor(model => model.Id)  
      </th>  
      <th>  
        @Html.DisplayNameFor(model => model.Text)  
      </th> 
      <th>  
        @Html.DisplayNameFor(model => model.isHighPriority)  
      </th> 
      <th></th>  
    </tr>  
  </thead>  
  <tbody>  
    @foreach (var item in Model)  
    {  
      <tr>  
        <td>  
          @Html.DisplayFor(modelItem => item.Id)  
        </td>  
        <td>  
          @Html.DisplayFor(modelItem => item.Text)  
        </td>  
        <td>  
          @Html.DisplayFor(modelItem => item.isHighPriority)  
        </td> 
        <td>  
          @Html.ActionLink("Edit", "Edit", item) |  
          @Html.ActionLink("Delete", "DeleteEntry", item )  
        </td>  
      </tr>  
    }  
  </tbody>  
</table>   
